# TF-IDF ,RandomForest

Spam or Not Spam

In [ ]:
Read CSV,Clean Data,Prepare Data and convert it into vector(TF-IDF),Use RandomForest to Predict

In [1]:
import nltk
import pandas as pd

In [2]:
pd.set_option("display.max_colwidth",100)
message = pd.read_csv("spam.csv",encoding='latin-1')

In [3]:
message

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there g...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive ...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives around here though",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u. U have won the å£750 Pound prize. 2 claim is eas...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other suggestions?",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd be interested in buying something else next week ...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [10]:
# Drop Unused columns
col_to_drop = ['Unnamed: 2','Unnamed: 3','Unnamed: 4']
message=message.drop(columns=col_to_drop,axis=1)
message.columns=['label','text']
message['label'].value_counts()
print("No. of nulls in labels: {}".format(message['label'].isnull().sum()))
print("No. of nulls in text: {}".format(message['text'].isnull().sum()))

KeyError: "['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'] not found in axis"